
body 
{
    margin: 0;
}

h1 
{
    text-align: center;
}

.header-container 
{
    display: flex;
    padding: 10px;
    background-color: #1F2937;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.header-container img
{
    width: 50px;
    height: 50px;
    margin-right: auto;
}

.header-container a 
{
    text-decoration: none;
    color: #F9FAF8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.box-01
{
    display: flex;
    padding: 50px;
    background-color: #1F2937;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 45px;
 }

.box-01 img
{
    width: 500px;
      
}

.box-01 p 
{
    font-size: 18px;
    color:#E5E7EB;
    width: 350px;
}

.box-01 h1
{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    text-align: left;
}

.box-02 
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    justify-content: center;
}
.box-02 img {
    width: 200px;
    border:solid #1F2937 5px;
    border-radius: 15%;
    
}

.box2images {
   text-align: center;
   width: 200px;
   font-size: 15px;
 }

.box-03
{
    background-color:#E5E7EB;
    padding: 150px;
    /*display: flex;
    flex-direction: column;*/
    gap: 15px;
}

.text1
{
    font-size: 30px;
    width: 80%;
    
}

.text2

{
    padding-top: 50px;
}
.box-04
{
    display: flex;
    background-color: #3882F6;
    padding: 50px 30px 80px 100px;
    width: 50%;
    height: 50%;
    margin: 5%;
    border-radius: 15px;
    align-items: baseline;
}

.box-04 button
{
    background-color: #f1eeed;
    border: none;
    border-radius: 30px;
    color: rgb(17, 17, 19);
    padding: 16px 32px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.footer
{
    background-color:#1F2937;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 15px;
}